<table style='width: 100%; max-width: 600px; margin: 0 auto; padding: 20px;'>
  <tr>
    <td style='text-align: center; padding: 20px;'>
      {{name}}
    </td>
  </tr>
  <tr>
    <td style='padding: 20px;'>
      <h2>Lupa Kata Sandi?</h2>
      <p>
        Kami menerima permintaan untuk mengatur ulang kata sandi akun Anda. Klik
        tautan di bawah ini untuk melanjutkan proses pengaturan ulang kata sandi
        Anda.
      </p>
      <a
        href='{{link}}'
        style='display: inline-block; padding: 10px 20px; background-color: #007BFF; color: #fff; text-decoration: none; border-radius: 5px;'
      ></a>
      <p>
        Jika Anda tidak meminta pengaturan ulang kata sandi, Anda dapat
        mengabaikan email ini. Keamanan akun Anda adalah prioritas kami.
      </p>
      <p>
        Terima kasih,<br />
        Tim Dukungan Kami
      </p>
    </td>
  </tr>
</table>